body {
    background-color: white;
}
h1 {
    color: red;
}
p {
    color: indigo;
}
table {
    border-color: #ff14fd;
}
body {
    background-image: url("https://jooinn.com/images/background-27.png");
}
