<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout.html::head">
</head>
<body>
<nav th:replace="layout.html::nav"></nav>

    <div class="card border-secondary mb-3 text-center" style="max-width: 70rem; margin: 0 auto; margin-top: 20px">
        <div class="card-header"><h1 style="color: goldenrod">Witamy w przychodni</h1></div>
        <div class="card-body text-light">
                <a class="btn btn-dark col-6" th:href="@{/drugs}" role="button" style="margin: 5px;">Leki</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-dark col-6" th:href="@{/examinations}" role="button" style="margin: 5px;">Badania</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-dark col-6" th:href="@{/patients}" role="button" style="margin: 5px;">Pacjenci</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-dark col-6" th:href="@{/prescriptions}" role="button" style="margin: 5px;">Recepty</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-dark col-6" th:href="@{/referrals}" role="button" style="margin: 5px;">Skierowania</a>
        </div>
    </div>


</body>
</html>