<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout.html::head">
</head>
<body>
<nav th:replace="layout.html::nav"></nav>

<div class="card border-secondary mb-3 text-center" style="max-width: 70rem; margin: 0 auto; margin-top: 20px">
    <table>
        <tr>
            <th th:each="field:${fields}" th:text="${field}"></th>
        </tr>
        <tr th:each="item : ${list}">
            <td th:each="val : ${item}" th:text="${val}"></td>
        </tr>
    </table>
</div>

</body>
</html>